<div class="latest_news_wrap">
  <div class="container">
    <h3 class="latest_news_title text-center dark">Our <b> Latest News </b></h3>

    <div class="row latest_news_slider">
      <div class="col-md-6 col-12 news_slider_item">
        <div class="row news_item">
          <div class="col-6">
            <div class="news_img">
              <img
                src="assets/images/Morbi-efficitur.jpg"
                alt="Morbi-efficitur"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="news_slider_text">
              <p class="gray-light post_date">
                February 12, 2018 | By: Jackson Pot
              </p>
              <hr />
              <h4 class="dark post_title">
                Morbi efficitur purus eget imperdiet
              </h4>
              <p class="gray-light post_details">
                Enim aptent congue sit at auctor asperiores diamlorem nulla?
                Culpa! Nihil illum? Aperiam risus sint iste fugit porttitor, id
                explicabo deleniti vero aptent pede, eiusmod.
              </p>
              <p class="read_more_btn">
                <button class="btn btn_glob">Read More</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 news_slider_item">
        <div class="row news_item">
          <div class="col-6">
            <div class="news_img">
              <img
                src="assets/images/Things-all-Strava.jpg"
                alt="Things-all-Strava"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="news_slider_text">
              <p class="gray-light post_date">
                February 12, 2018 | By: Jackson Pot
              </p>
              <hr />
              <h4 class="dark post_title">
                9 Things all Strava Users Do — But Would Never
              </h4>
              <p class="gray-light post_details">
                Enim aptent congue sit at auctor asperiores diamlorem nulla?
                Culpa! Nihil illum? Aperiam risus sint iste fugit porttitor, id
                explicabo deleniti vero aptent pede, eiusmod.
              </p>
              <p class="read_more_btn">
                <button class="btn btn_glob">Read More</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 news_slider_item">
        <div class="row news_item">
          <div class="col-6">
            <div class="news_img">
              <img
                src="assets/images/Morbi-efficitur.jpg"
                alt="Morbi-efficitur"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="news_slider_text">
              <p class="gray-light post_date">
                February 12, 2018 | By: Jackson Pot
              </p>
              <hr />
              <h4 class="dark post_title">
                Morbi efficitur purus eget imperdiet
              </h4>
              <p class="gray-light post_details">
                Enim aptent congue sit at auctor asperiores diamlorem nulla?
                Culpa! Nihil illum? Aperiam risus sint iste fugit porttitor, id
                explicabo deleniti vero aptent pede, eiusmod.
              </p>
              <p class="read_more_btn">
                <button class="btn btn_glob">Read More</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End latest_news_wrap  -->
