<div class="banner_wrap">
  <div class="container-fluid">
    <div class="row banner_slider">
      <div class="col-12 banner_slider_item">
        <div class="banner_slider_conternt">
          <h5 class="text-center primary-color banner_sub_title text-uppercase">
            Welcome Flash Car
          </h5>
          <h1 class="text-center primary-color banner_title text-uppercase">
            we are Amazing Repair Shop
          </h1>
          <p class="text-center primary-color banner_details">
            Labore curae Sem dui fugiat consectetur, blanditiis proin, leo.
            nascetur aliquet convallis quod tempora aute. tempora, tempora
            xcepteur, perspiciatis!
          </p>
          <p class="text-center learn_more_btn">
            <button class="btn btn_glob">Learn More</button>
          </p>
        </div>
      </div>
      <!-- End banner_slider_item -->

      <div class="col-12 banner_slider_item">
        <div class="banner_slider_conternt">
          <h5 class="text-center primary-color banner_sub_title text-uppercase">
            Welcome Flash Car
          </h5>
          <h1 class="text-center primary-color banner_title text-uppercase">
            we are Amazing Repair Shop
          </h1>
          <p class="text-center primary-color banner_details">
            Labore curae Sem dui fugiat consectetur, blanditiis proin, leo.
            nascetur aliquet convallis quod tempora aute. tempora, tempora
            xcepteur, perspiciatis!
          </p>
          <p class="text-center learn_more_btn">
            <button class="btn btn_glob">Learn More</button>
          </p>
        </div>
      </div>
      <!-- End banner_slider_item -->

      <div class="col-12 banner_slider_item">
        <div class="banner_slider_conternt">
          <h5 class="text-center primary-color banner_sub_title text-uppercase">
            Welcome Flash Car
          </h5>
          <h1 class="text-center primary-color banner_title text-uppercase">
            we are Amazing Repair Shop
          </h1>
          <p class="text-center primary-color banner_details">
            Labore curae Sem dui fugiat consectetur, blanditiis proin, leo.
            nascetur aliquet convallis quod tempora aute. tempora, tempora
            xcepteur, perspiciatis!
          </p>
          <p class="text-center learn_more_btn">
            <button class="btn btn_glob">Learn More</button>
          </p>
        </div>
      </div>
      <!-- End banner_slider_item -->
    </div>
  </div>
</div>
<!-- End banner_wrap -->
