<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 contact_wrap">
          <div class="footer_logo">
            <a href="javascript:viod(0)"
              ><img src="assets/images/logo.png" alt="logo" class="img-fluid"
            /></a>
          </div>

          <p>
            <span class="primary-color">Address: </span> 26 Green Tower, street
            Liya New York city, USA
          </p>
          <p>
            <span class="primary-color">Phone: </span>
            <a href="tel:+967658741695">(+967) 658 741 695</a>
          </p>
          <p>
            <span class="primary-color">Email: </span>
            <a href="mailto:support@carrepair.com">support@carrepair.com</a>
          </p>
          <p>
            <span class="primary-color">Time: </span> Monday - Saturday 9:30am -
            6:30pm
          </p>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="usefull_link">
            <h4 class="primary-color">Userful Links</h4>
            <ul>
              <li><a href="#">Home </a></li>
              <li><a href="#">Certifications </a></li>
              <li><a href="#">Projects </a></li>
              <li><a href="#">Our Partners </a></li>
              <li><a href="#">Core Values </a></li>
              <li><a href="#">How it works </a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="infomation">
            <h4 class="primary-color">Infomation</h4>
            <ul>
              <li><a href="#">Features </a></li>
              <li><a href="#">Company </a></li>
              <li><a href="#">Our Team </a></li>
              <li><a href="#">News </a></li>
              <li><a href="#">Fleet Service </a></li>
              <li><a href="#">Contact Us </a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="flicker_widget">
            <h4 class="primary-color">Flicker Widget</h4>
            <div class="row">
              <div class="col-4">
                <a href="#" class="widget_item">
                  <img
                    src="assets/images/widget-1.png"
                    alt="widget-1"
                    class="img-fluid"
                  />
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="widget_item">
                  <img
                    src="assets/images/widget-2.png"
                    alt="widget-2"
                    class="img-fluid"
                  />
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="widget_item">
                  <img
                    src="assets/images/widget-3.png"
                    alt="widget-3"
                    class="img-fluid"
                  />
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="widget_item">
                  <img
                    src="assets/images/widget-4.png"
                    alt="widget-4"
                    class="img-fluid"
                  />
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="widget_item">
                  <img
                    src="assets/images/widget-5.png"
                    alt="widget-5"
                    class="img-fluid"
                  />
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="widget_item">
                  <img
                    src="assets/images/widget-6.png"
                    alt="widget-6"
                    class="img-fluid"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer_top -->

  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer_bottom_inner">
            <ul class="footer_social_menu text-center">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-vimeo"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
            </ul>

            <p class="copy_right primary-color">
              Copyright © 2018 Desing by
              <a href="#" class="link">DroitThemes</a>
            </p>

            <p class="go_to_top primary-color">
              Back To Top
              <a href="#top"><i class="fa fa-angle-up"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer_bottom -->
</footer>
<!-- End footer -->
