<div class="newsletter_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center subscribe dark">Subsrcibe to</h4>
        <h3 class="text-center newsletter_title dark">Our Newsletter</h3>
        <p class="text-center gray-light newsletter_note">
          Please send a letter to us, believe that the information promotion
          will not slip out of hand you
        </p>

        <div class="email_input">
          <div class="send_mail">
            <input
              type="text"
              class="form-control"
              placeholder="Type your email..."
              onfocus="this.placeholder=''"
              onblur="this.placeholder='Type your email...'"
            />

            <a href="#"
              ><img
                src="assets/images/send-arrow-icon.png"
                alt="send-arrow-icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End newsletter_wrap  -->
