<div class="featured_wrap">
  <div class="container">
    <h3 class="text-center featured_title">
      FAQ &amp; <b>Bicycle Featured</b>
    </h3>

    <div class="row">
      <div class="col-md-6 col-12">
        <div class="faq_body">
          <h4 class="faq_title dark">What if i get Lapped?</h4>

          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <h4
                  class="dark"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                >
                  Finance And Insurance
                </h4>
              </div>

              <div
                id="collapseOne"
                class="collapse show"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p class="gray-light">
                    Quibusdam esse eius mi nibh saepe, euismod repellat esse
                    quae autem, hac harum, interdum, aliquip veritatis nonummy,
                    fames cum. quaerat sunt placeat et? Reprehenderit mollitia
                    non facere. Erat dui? Consequat iste! Egestas sodales vero
                    cupidatat.!
                  </p>
                </div>
              </div>
            </div>
            <!-- End card  -->

            <div class="card">
              <div class="card-header">
                <h4
                  class="dark collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                >
                  Parts Replacement
                </h4>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p class="gray-light">
                    Quibusdam esse eius mi nibh saepe, euismod repellat esse
                    quae autem, hac harum, interdum, aliquip veritatis nonummy,
                    fames cum. quaerat sunt placeat et? Reprehenderit mollitia
                    non facere. Erat dui? Consequat iste! Egestas sodales vero
                    cupidatat.!
                  </p>
                </div>
              </div>
            </div>
            <!-- End card  -->

            <div class="card">
              <div class="card-header">
                <h4
                  class="dark collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                >
                  Tyre And Oil Change
                </h4>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p class="gray-light">
                    Quibusdam esse eius mi nibh saepe, euismod repellat esse
                    quae autem, hac harum, interdum, aliquip veritatis nonummy,
                    fames cum. quaerat sunt placeat et? Reprehenderit mollitia
                    non facere. Erat dui? Consequat iste! Egestas sodales vero
                    cupidatat.!
                  </p>
                </div>
              </div>
            </div>
            <!-- End card  -->

            <div class="card">
              <div class="card-header">
                <h4
                  class="dark collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="false"
                >
                  Accident Repairs And Quotes
                </h4>
              </div>
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p class="gray-light">
                    Quibusdam esse eius mi nibh saepe, euismod repellat esse
                    quae autem, hac harum, interdum, aliquip veritatis nonummy,
                    fames cum. quaerat sunt placeat et? Reprehenderit mollitia
                    non facere. Erat dui? Consequat iste! Egestas sodales vero
                    cupidatat.!
                  </p>
                </div>
              </div>
            </div>
            <!-- End card  -->

            <div class="card">
              <div class="card-header">
                <h4
                  class="dark collapsed"
                  data-toggle="collapse"
                  data-target="#collapseFive"
                  aria-expanded="false"
                >
                  Motorcycle Inspection
                </h4>
              </div>
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p class="gray-light">
                    Quibusdam esse eius mi nibh saepe, euismod repellat esse
                    quae autem, hac harum, interdum, aliquip veritatis nonummy,
                    fames cum. quaerat sunt placeat et? Reprehenderit mollitia
                    non facere. Erat dui? Consequat iste! Egestas sodales vero
                    cupidatat.!
                  </p>
                </div>
              </div>
            </div>
            <!-- End card  -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="featured_img">
          <img
            src="assets/images/bi-cycle-featured.png"
            alt="bi-cycle-featured"
            class="img-fluid"
          />

          <div class="featured_1 featured">
            <p class="gray-light">Had Brac Show</p>
            <img src="assets/images/Featured-1.png" alt="featured_1" />
          </div>

          <div class="featured_2 featured">
            <p class="gray-light">Leather Seat Covers</p>
            <img src="assets/images/Featured-2.png" alt="featured_1" />
          </div>

          <div class="featured_3 featured">
            <img src="assets/images/Featured-3.png" alt="featured_1" />
            <p class="gray-light">Tyre Chenge</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End featured_wrap  -->
