<div class="about_us_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="about_us_text">
          <h2 class="about_us_title dark">We are <b>The bike club</b></h2>
          <p class="about_us_deatails gray-light">
            Hic vel tempus dis? Cursus sapien vero, id, inventore. Quia
            phasellus, gravida condimentum nisl labore illo turpis diamlorem
            consectetuer! Consequat, eget imperdiet debitis quod? Aenean
            posuere. Venenatis illum temporibus ornare laboriosam animi lectus?
          </p>
          <p class="about_us_deatails gray-light">
            Minim natoque dolores sint dicta risus! sociosqu? Feugiat ipsa
            ducimus praesent sunt corporis.
          </p>
          <p class="read_more_btn">
            <button class="btn btn_glob">Read More</button>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="about_us_img">
          <img
            src="assets/images/bi-cycle-img.png"
            alt="bi-cycle-img"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End about_us_wrap  -->
