<div class="servises_wrap">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-md-12 col-12">
        <div class="service_img mbShow">
          <!-- <img src="assets/images/service-bg.jpg" alt="service-bg" class="img-fluid"> -->
        </div>
      </div>

      <div class="col-xl-7 col-md-12 col-12">
        <div class="row">
          <div class="col-12">
            <h3 class="service_title">Our <b>Best Services</b></h3>
          </div>
          <div class="col-md-6 col-12">
            <div class="service_item">
              <div class="service_img">
                <img
                  src="assets/images/Care-Plan.png"
                  alt="Care-Plan"
                  class="img-fluid"
                />
              </div>
              <div class="servive_item_text">
                <h4 class="item_title">Wear Care Plan</h4>
                <p class="item_details">
                  Quia cupiditate suscipit, eiusmod dis impedit ex mollitia
                  porta at? Rhoncus aut quasi laoreet fugiat.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="service_item">
              <div class="service_img">
                <img
                  src="assets/images/Rental.png"
                  alt="Rental"
                  class="img-fluid"
                />
              </div>
              <div class="servive_item_text">
                <h4 class="item_title">Rental Department</h4>
                <p class="item_details">
                  Quia cupiditate suscipit, eiusmod dis impedit ex mollitia
                  porta at? Rhoncus aut quasi laoreet fugiat.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="service_item active">
              <div class="service_img">
                <img
                  src="assets/images/Mountain-Bike.png"
                  alt="Mountain-Bike"
                  class="img-fluid"
                />
              </div>
              <div class="servive_item_text">
                <h4 class="item_title">Mountain Bike</h4>
                <p class="item_details">
                  Quia cupiditate suscipit, eiusmod dis impedit ex mollitia
                  porta at? Rhoncus aut quasi laoreet fugiat.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="service_item">
              <div class="service_img">
                <img
                  src="assets/images/Service-Repair.png"
                  alt="Service-Repair"
                  class="img-fluid"
                />
              </div>
              <div class="servive_item_text">
                <h4 class="item_title">Service Repair</h4>
                <p class="item_details">
                  Quia cupiditate suscipit, eiusmod dis impedit ex mollitia
                  porta at? Rhoncus aut quasi laoreet fugiat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End servises_wrap  -->
