<div class="our_team_wrap">
  <div class="container">
    <h3 class="text-center our_team_title">Our <b>Expert Team</b></h3>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team_single_item">
          <div class="item_img">
            <img
              src="assets/images/Gustav-Purpleson.jpg"
              alt="Gustav-Purpleson"
              class="img-fluid"
            />
          </div>
          <div class="team_member_details">
            <div class="member_details_inner">
              <h4 class="text-center member_name dark">Gustav Purpleson</h4>
              <p class="text-center gray-light member_title">Bike Mechanic</p>

              <ul class="member_social_link">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team_single_item">
          <div class="item_img">
            <img
              src="assets/images/Dianne-Ameter.jpg"
              alt="Dianne-Ameter"
              class="img-fluid"
            />
          </div>
          <div class="team_member_details">
            <div class="member_details_inner">
              <h4 class="text-center member_name dark">Dianne Ameter</h4>
              <p class="text-center gray-light member_title">Senior Mechanic</p>

              <ul class="member_social_link">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team_single_item">
          <div class="item_img">
            <img
              src="assets/images/Druid-Wensleydale.jpg"
              alt="Druid-Wensleydale"
              class="img-fluid"
            />
          </div>
          <div class="team_member_details">
            <div class="member_details_inner">
              <h4 class="text-center member_name dark">Druid Wensleydale</h4>
              <p class="text-center gray-light member_title">Cycle Mechanic</p>

              <ul class="member_social_link">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End our_team_wrap -->
